#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/qcom,camcc-kalama.h>

&soc {
	cam_pmic0_cs: cam_pmic0_cs {
		compatible = "regulator-fixed";
		regulator-name = "cam_pmic0_cs";
		startup-delay-us = <0>;
		enable-active-high;
		gpio = <&pm8550vs_g_gpios 4 0>;
	};

	cam_pmic0_vin7_supply: cam_pmic0_vin7_supply {
		compatible = "regulator-fixed";
		regulator-name = "cam_pmic0_vin7_supply";
		startup-delay-us = <5000>;
		off-on-delay-us = <5000>;
		enable-active-high;
		gpio = <&pm8550ve_f_gpios 8 0>;
	};

	camera0_vana_vreg: camera0_vana_vreg {
		compatible = "regulator-fixed";
		regulator-name = "camera0_vana_vreg";
		startup-delay-us = <0>;
		enable-active-high;
		gpio = <&tlmm 72 0>;
	};

	camera1_vana_vreg: camera1_vana_vreg {
		compatible = "regulator-fixed";
		regulator-name = "camera1_vana_vreg";
		startup-delay-us = <0>;
		enable-active-high;
		gpio = <&tlmm 73 0>;
	};
};

&cam_csiphy_tpg13 {
	status = "disabled";
};

&cam_csiphy_tpg14 {
	status = "disabled";
};

&cam_csiphy_tpg15 {
	status = "disabled";
};

&qupv3_hub_i2c2 {
	dialog_pmic_0:slg51000@75 {
		compatible = "dlg,slg51000";
		reg = <0x75>;
		cs-supply = <&cam_pmic0_cs>;
		vin7-supply = <&cam_pmic0_vin7_supply>;
		off_time = <0 0 0 0 0 0 2000>;
		status = "ok";

		regulators {
			slg51000_0_ldo1: ldo1 {
				regulator-name = "slg51000_a_ldo1";
				regulator-min-microvolt = <2400000>;
				regulator-max-microvolt = <3300000>;
			};

			slg51000_0_ldo2: ldo2 {
				regulator-name = "slg51000_a_ldo2";
				regulator-min-microvolt = <2400000>;
				regulator-max-microvolt = <3300000>;
			};

			slg51000_0_ldo3: ldo3 {
				regulator-name = "slg51000_a_ldo3";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3750000>;
			};

			slg51000_0_ldo4: ldo4 {
				regulator-name = "slg51000_a_ldo4";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3750000>;
			};

			slg51000_0_ldo5: ldo5 {
				regulator-name = "slg51000_a_ldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
			};

			slg51000_0_ldo6: ldo6 {
				regulator-name = "slg51000_a_ldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1200000>;
			};

			slg51000_0_ldo7: ldo7 {
				regulator-name = "slg51000_a_ldo7";
				regulator-min-microvolt = <1200000>;
				regulator-max-microvolt = <3750000>;
			};
		};
	};
};

